<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Form</title>
        <meta name="description" content="Form">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="reset.css" />
        <link rel="stylesheet" href="main.css" />
    </head>
    <body>
        <%- include("header") %>
        <main>
            <form method="post" action="/new">
                <div>
                    <label for="user">User:</label>
                    <input type="text" name="user" id="user" required>
                </div>

                <div>
                    <label for="text">Message:</label>
                    <textarea name="text" id="text" required></textarea>
                </div>

                <div>
                    <button type="submit">Send</button>
                </div>
            </form>
        </main>
        <%- include("footer") %>
    </body>
</html>

